* {
  margin: 0;
  padding: 0;
}
html,
body,
#app,
.app {
  height: 100%;
}
.app {
  position: relative;

  .slide-container {
    position: fixed;
    transition: all .5s ease-in-out;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;

    &.page-1 {
      top: 0;
    }

    &.page-2 {
      top: -100%;
    }

    &.page-3 {
      top: -200%;
    }

    &.page-4 {
      top: -300%;
    }
  }

  .slide-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;

    span {
      color: #fff;
      transition: all 5s;
    }

    &.active span {
      color: #000;
    }

    &:nth-child(1) {
      background-color: red;
    }

    &:nth-child(2) {
      background-color: green;
    }

    &:nth-child(3) {
      background-color: blue;
    }

    &:nth-child(4) {
      background-color: yellow;
    }
  }
}
