.page-sponsorship{background-color:#fff;padding:.8rem 0 1.33333rem;text-align:center}.page-sponsorship .sponsorship-title{font-size:.48rem;color:#333;margin:0 0 .10667rem}.page-sponsorship img{width:6.66667rem;margin-top:.26667rem}