<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror/lib/codemirror.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror/theme/material.css">
</head>
<body>
  <div id="app"></div>
  <script src="https://cdn.jsdelivr.net/npm/codemirror/lib/codemirror.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/codemirror/mode/javascript/javascript.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/codemirror/mode/xml/xml.js"></script>
  <script>
    var myCodeMirror = CodeMirror(document.querySelector('#app'), {
      value: `
<template>
  <div class="box-vue">Vue {{ message }}</div>
<\/template>
<script>
export default {
  data: () => ({ message: 'Hello World' })
}
<\/script>
<style>
.box-vue { color: red; }
<\/style>      
`,
      theme: 'material',
      tabSize: 2,
      lineNumbers: true,
      mode : "xml",
      htmlMode: true,
    });
    myCodeMirror.setOption("extraKeys", {
      Tab: function(cm) {
        var spaces = Array(cm.getOption("indentUnit") + 1).join(" ");
        cm.replaceSelection(spaces);
      }
    });
    myCodeMirror.on('changes', function (codem) {
      console.log(codem.doc.getValue())
    })
  </script>
</body>
</html>